body { --primary: #3aac23; --secondary: #29b6f6; margin: 0px; }
* {font-family: 'Roboto', sans-serif;}



div.main {padding: 10px; }

input {margin-bottom: 5px; margin-top: 2px; padding: 4px; font-size: 12px; }
h1 {background: var(--primary); color: rgb(255, 255, 255); font-weight: 300; text-transform: uppercase; font-size: 20px; margin: 0px; padding: 15px;text-align: center;}
h2 { margin-block-start: 0px; margin-block-end: 10px; font-size: 20px;  color: var(--primary); text-align:justify;}
button:hover { background: var(--primary); color: rgb(248, 248, 248); }
div.actions { margin-top: 10px;display: flex; justify-content: space-around;}
div.movie {display: inline-block; width: auto; padding: 10px; box-shadow: 2px 2px 7px rgb(201, 201, 201); margin: 5px; background-color: rgb(255, 255, 255);}
div.movie:hover { background:rgb(67, 146, 101); color: rgb(248, 248, 248); transition: .9s ease ; }
div.movie div.movie-img {width: 200px; height: auto; min-height: 200px; cursor: pointer;}
div.movie div.movie-img img {width: 100%; height: auto;}
div.movie div.title { overflow: hidden; text-overflow: ellipsis; width: 200px; white-space: nowrap; }


div.field { color: var(--primary); text-transform: uppercase; font-size: 12px; text-align: center; font-size: 3rem; margin-top: 1rem;}

#miniatura , #director, #titulo {
    size: 3rem;
}

input[type = "text"] {
    font-size: 3rem;

}

h3{
  font-size: 1.5em;
  margin-top: 0em;
  margin-right: 15%;
  color: #138d19;
  margin-bottom: auto
}


h4 {background:#21500c;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px;
    padding: 15px;
    text-align: center;}

#new {
    display: inline-block;
    margin: 2px;
    border: 1px solid var(--primary);
    height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    transition: ease-in 0.2s all;
    padding: 0 8px 0 8px;
    float:inline-end;
    position: absolute;
    transition: .5s ease;
    top: 1%;
    left: 20%;

}

 #reset {
    display: inline-block;
    margin: 2px;
    border: 1px solid var(--primary);
    height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    transition: ease-in 0.2s all;
    padding: 0 8px 0 8px;
    float:inline-end;
    position: absolute;
    transition: .5s ease;
    top: 1%;
    right: 20%;

}

#create,#update {
    display: inline-block;
    margin: 2px;
    border: 1px solid var(--primary);
    height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    transition: ease-in 0.2s all;
    padding: 0 8px 0 8px;
    float:inline-end;
    position: absolute;
    transition: .5s ease;
    top: 1%;
    left: 20%;
}

#volver {
    display: inline-block;
    margin: 2px;
    border: 1px solid var(--primary);
    height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    transition: ease-in 0.2s all;
    padding: 0 8px 0 8px;
    float:inline-end;
    position: absolute;
    transition: .5s ease;
    top: 1%;
    right: 20%;
}


html {
	height: 100%;
	/* max-height: 600px; */
	width: 100%;
	background-color: hsla(200,40%,30%,.4);
	background-image:
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position:
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size:
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position:
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}
